# Telegram client library for Python
telethon
# Cryptographic library for faster encryption (optional but recommended for telethon), 20x faster
cryptg
# Russian transliteration library
iuliia
# Progress bar library
tqdm
# Windows 11 toast
win11toast